.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: aquamarine;
  
}
.buttonsw{
  background-color: greenyellow;
  padding: 0px;
  border: none;
  height: 40px;
  width: 170px;
  margin: 10px;
  border-radius: 40px;
  
}
.words{
    margin: 20px;
    /* text-align: center; */
    color: rgb(0, 0, 0);
    background-color:white;
    
    /* display: flex;
    justify-content: center; */
    /* flex-direction: row; */
    top: 50%;
    height: 30px;
    width: 160px;
}
.inputs{
  width: 210px;
  height: 35px;
}
.buttons{
  background-color: greenyellow;
  padding: 0px;
  border: none;
  height: 40px;
  width: 170px;
  margin: 10px;
  border-radius: 40px;
  margin: 0;
  position: absolute;
  top: 15%;
  left: 10%;
  -ms-transform: translateY(-40%);
  transform: translateY(-200%);
}
.buttons1{
  background-color: greenyellow;
  padding: 0px;
  border: none;
  height: 40px;
  width: 170px;
  margin: 10px;
  border-radius: 40px;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 10%;
  -ms-transform: translateY(-40%);
  transform: translateY(-200%);
}
.buttons2{
  background-color: greenyellow;
  padding: 0px;
  border: none;
  height: 40px;
  width: 170px;
  margin: 10px;
  border-radius: 40px;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 10%;
  -ms-transform: translateY(-40%);
  transform: translateY(-200%);
}
.buttons3{
  background-color: greenyellow;
  padding: 0px;
  border: none;
  height: 40px;
  width: 170px;
  margin: 10px;
  border-radius: 40px;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 10%;
  -ms-transform: translateY(-40%);
  transform: translateY(-200%);
}
.nav {
  
  color: blue;
  padding: 0px;
  border: none;
  height: 40px;
  width: 170px;
  margin: 10px;
  border-radius: 40px;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 10%;
  -ms-transform: translateY(-40%);
  transform: translateY(-200%);
}

.photoss {
  height: 400px;
  width: 400px;
}